<head>
  <meta charset="UTF-8">
  <meta name="author" content="Made by LIM">
  <meta name="robots" content="nofollow">
  <meta property="og:image" content="../<%= assetPath %>/images/slider_0.3.jpg">
  <meta property="og:title" content="ν…μ¤νΈ_κ²½λ ¥ν¬νΈν΄λ¦¬μ¤">
  <meta name="viewport" content="initial-scale=1, width=device-width, maximum-scale=1, minimum-scale=1, user-scalable=no">

  <!-- style link -->
  <link rel="icon" type="image/x-icon" href="../<%= assetPath %>/images/favicon/fire.png">
  <link type="text/css" rel="stylesheet" media="screen" href="../<%= assetPath %>/css/common.css">
  <link type="text/css" rel="stylesheet" media="screen" href="../<%= assetPath %>/css/main_2025.css">
  <link type="text/css" rel="stylesheet" media="screen" href="../<%= assetPath %>/css/lib/swiper-bundle.11.2.10.min.css">

  <title>Work π–¥_Timeline</title>
</head>