<!DOCTYPE html>

<html lang="ko">
<%- include('partials/header.ejs') %>
<body>
	<section id="wrap">
		<%- include('partials/current_date.ejs') %>
		<%- include('partials/history_04.ejs') %>
		<%- include('partials/history_03.ejs') %>
		<%- include('partials/history_02.ejs') %>
		<%- include('partials/history_01.ejs') %>
	</section>

	<!-- Modal-root -->
	
	<%- include('partials/modal/_modal_history_02.ejs') %>
	<%- include('partials/modal/_modal_history_03.ejs') %>
	<%- include('partials/modal/_modal_history_04.ejs') %>
	<%- include('partials/footer.ejs') %>
	<!-- script -->
	<script src="../<%= assetPath %>/js/index.js"></script>
	<script src="../<%= assetPath %>/js/lib/swiper-bundle.11.2.10.min.js"></script>
</body>

</html>
