<!DOCTYPE html>

<html lang="ko">
<%- include('partials/header.ejs') %>
<body>
	<section id="wrap">
		<%- include('partials/current_date.ejs') %>
		<%- include('partials/history.ejs') %>
	</section>

	<%- include('partials/footer.ejs') %>

	<!-- Modal-root -->
	<!-- script -->
	<script src="../<%= assetPath %>/js/index.js"></script>
	<script src="../<%= assetPath %>/js/lib/swiper-bundle.11.2.10.min.js"></script>
</body>

</html>
