<div id="cordial" class="modal-root cordial hide">
  <div class="modal">
    <h1 class="modal-title">모달 타이틀</h1>
    <div class="modal-content">
      <p class="cont-desc">그룹웨어 특성상 보안으로 인해 실제 작업물을 담지 못하였습니다. <br>양해부탁드립니다. </p>
      <div class="projects-names">
      	<ul>
      		<li><img src="../<%= assetPath %>/images/prj-names(1).jpg" alt=""></li>
      		<li><img src="../<%= assetPath %>/images/prj-names(2).jpg" alt=""></li>
      		<li><img src="../<%= assetPath %>/images/prj-names(3).jpg" alt=""></li>
      		<li><img src="../<%= assetPath %>/images/prj-names(5).jpg" alt=""></li>
      		<li><img src="../<%= assetPath %>/images/prj-names(6).jpg" alt=""></li>
      		<li><img src="../<%= assetPath %>/images/prj-names(8).jpg" alt=""></li>
      		<li><img src="../<%= assetPath %>/images/prj-names(9).jpg" alt=""></li>
      		<li><img src="../<%= assetPath %>/images/prj-names(11).jpg" alt=""></li>
      	</ul>
      </div>
      <div class="swiper-area card">
        <div class="swiper card">
          <div class="swiper-wrapper">
            <%- include('../slides/_slide_history_01.ejs') %>
          </div>
          <!-- Add Pagination -->
          <div class="swiper-pagination"></div>
          <!-- Add Arrows -->
          <div class="swiper-button-next"></div>
          <div class="swiper-button-prev"></div>
        </div>
      </div>
    </div>
    <button class="modal-close"><i class="ico btn-close"></i></button>
  </div>
</div>